.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 1rem 0;
}

.cartItemTitle {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 1rem;
}

.cartItemDetails {
  display: flex;
  align-items: center;
}

.cartItemPrice {
  margin-right: 1rem;
}

.cartItemRemove {
  cursor: pointer;
  color: #f44336;
  padding: 1rem;
}

.cartItemRemove:hover {
  text-decoration: underline;
}
