.formContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  }

  .formTitle {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }
